@model Winter2022_PassionProject_N01519420.Models.ViewModels.DetailsActor
@{
    ViewBag.Title = "Details";
}


<div>
    <h3>List of Movies @Model.SelectedActor.ActorFirstName @Model.SelectedActor.ActorLastName</h3>
    @{
        string imageurl = "/Content/Images/Actors/default.jpg";
        if (Model.SelectedActor.ActorHasPic)
        {
            imageurl = "/Content/Images/Actors/" + Model.SelectedActor.ActorID + "." + Model.SelectedActor.PicExtension;
        }
    }
    <div><img style="display:block; max-width:25%; height:25%;" alt="@Model.SelectedActor.ActorFirstName" src="@imageurl" /></div>
    <hr />
    @foreach (var movie in Model.KeptMovies)
    {
        <label style="padding: 12px 12px 12px 0; display: inline-block;">@movie.MovieName</label> @movie.ReleaseYear
        <br />
    }
</div>

<hr/>

<div>
    <form action="/Actor/Edit/@Model.SelectedActor.ActorID" method="POST" style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
        <input type="submit" value="Update" style="background-color: gray; color: white; padding: 12px 20px; border: none; border-radius: 4px;">
    </form>
    <br/>
    <form action="/Actor/DeleteConfirm/@Model.SelectedActor.ActorID" method="POST" style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
        <input type="submit" value="Delete" style="background-color: gray; color: white; padding: 12px 20px; border: none; border-radius: 4px;">
    </form>
</div>

<br/>

<div>
    <a href="/Actor/ListAll">Back to Main Page</a>
</div>
