@model IEnumerable<Winter2022_PassionProject_N01519420.Models.ActorDto>
@{
    ViewBag.Title = "ListAll";
}

<h2>List of Actors</h2>

<hr/>

<div class="container-fluid" style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
    @foreach (var actor in Model)
    {
    <div class="col-lg-3 col-md-6 col-sm-12">
        <a style="font-size:large; color:red; text-decoration:none;" href="/Actor/Details/@actor.ActorID">@actor.ActorFirstName @actor.ActorLastName</a><br />
        @{
            string pic = "/Content/Images/Actors/default.jpg";
            string alt = "No Profile Picture Provided.";
            if (actor.ActorHasPic)
            {
                pic = "/Content/Images/Actors/" + actor.ActorID + "." + actor.PicExtension;
                alt = "picture of " + actor.ActorFirstName + " " + actor.ActorLastName;
                <a data-lightbox="actor-@actor.ActorID" href="@pic" data-title="@alt">
                    <img style="display: block; width: 180px; height: 180px; object-fit: cover; border:2px solid black;" src="@pic" alt="@alt" />
                </a>
            }
            else
            {
                <a data-lightbox="actor-@actor.ActorID" href="@pic" data-title="@alt">
                    <img style="display:block; width:150px; height:150px; border:2px solid black;" src="@pic" alt="@alt" />
                </a>
            }
        }
        <br />
    </div>
    }
</div>

<br/>

<div class="container-fluid">
    <form action="/Actor/List" method="GET" style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
        <input type="submit" value="Search Actor" style="background-color: gray; color: white; padding: 12px 20px; border: none; border-radius: 4px;"/>
    </form>
</div>

<br/>

<div class="container-fluid">
    <form action="/Actor/New" method="GET" style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
        <input type="submit" value="Add New Actor" style="background-color: gray; color: white; padding: 12px 20px; border: none; border-radius: 4px;" />
    </form>
</div>

<br/>

<div class="container-fluid">
    <form action="/Movie/New" method="GET" style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
        <input type="submit" value="Add New Movie" style="background-color: gray; color: white; padding: 12px 20px; border: none; border-radius: 4px;"/>
    </form>
</div>