@model Winter2022_PassionProject_N01519420.Models.ViewModels.DetailsMovie
@{
    ViewBag.Title = "Details";
}


<h3>Movie Name: @Model.SelectedMovie.MovieName</h3>
<div>Release Year: @Model.SelectedMovie.ReleaseYear</div>

<div>
    @{
        string imageurl = "/Content/Images/Movies/default.jpg";
        if (Model.SelectedMovie.MovieHasPic)
        {
            imageurl = "/Content/Images/Movies/" + Model.SelectedMovie.MovieID + "." + Model.SelectedMovie.PicExtension;
        }
    }
    <div><img style="display:block; max-width:25%; height:25%;" alt="@Model.SelectedMovie.MovieName" src="@imageurl" /></div>
</div>

<div>
    <h3>List of Actors:</h3>
    @foreach (var actor in Model.KeptActors)
    {
        <a href="/Actor/Details/@actor.ActorID">@actor.ActorFirstName @actor.ActorLastName</a>
        <a href="/Movie/UnAssociate/@Model.SelectedMovie.MovieID?ActorID=@actor.ActorID" style="color:red;"> [ x ] </a>
        <br />
    }
</div>

<hr/>

<div>
    Add More Actors to the @Model.SelectedMovie.MovieName:
    <form method="POST" action="/Movie/Associate/@Model.SelectedMovie.MovieID" style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
        <select name="ActorID" style="padding: 12px 12px 12px 0; display: inline-block;">
            @foreach (var actor in Model.ActorsOptions)
            {
                <option value="@actor.ActorID">@actor.ActorFirstName @actor.ActorLastName</option>
            }
        </select>

        <input type="submit" value="Associate Actor" style="background-color: gray; color: white; padding: 12px 20px; border: none; border-radius: 4px;"/>
    </form>
</div>

<hr/>

<div>
    <form action="/Movie/Edit/@Model.SelectedMovie.MovieID" method="POST" style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
        <input type="submit" value="Update" style="background-color: gray; color: white; padding: 12px 20px; border: none; border-radius: 4px;">
    </form>

    <br/>

    <form action="/Movie/DeleteConfirm/@Model.SelectedMovie.MovieID" method="POST" style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
        <input type="submit" value="Delete" style="background-color: gray; color: white; padding: 12px 20px; border: none; border-radius: 4px;">
    </form>
</div>

<br/>

<div>
    <a href="/Movie/List">Go Back to Main Page</a>
</div>
